
* {
  outline: 1px dotted purple;
  }

.wall {
  width: 10vh;
  height: 10vh;
  background-color: blue;
  display: inline-block;
}

.coin {
  width: 10vh;
  height: 10vh;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.ground {
  width: 10vh;
  height: 10vh;
  background-color: black;
  display: inline-block;
}

.pacman {
  width: 10vh;
  height: 10vh;
  background-image: url('../images/pacman.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

div {
  line-height: 0px;
}
