
* {
  outline: 1px dotted purple;
  }

h1 {
  text-align: center;
}

.pacman-world{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.wall {
  width: 30px;
  height: 30px;
  background-color: blue;
  display: inline-block;
}

.coin {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 80%;
  display: inline-block;
}

.ground {
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
}

div[data-id="ghost"] {
  width: 30px;
  height: 30px;
  background-color: red;
  display: inline-block;
}

.pacman {
  width: 30px;
  height: 30px;
  background-image: url('../images/pacman.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

div {
  line-height: 0px;
}
