@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  /*outline: 1px dotted purple;*/
  background-color: black;
  }

h1 {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

body {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

p {
  color: yellow;
}

#levelup, #playagain {
  border: 2px solid yellow;
  line-height: 30px;
}

#username {
  color: white;
}

#user-submit{
  color: white;
}

.pacman-world{
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 40px;
  position: absolute;
}

.wall {
  width: 40px;
  height: 40px;
  background-color: blue;
  display: inline-block;
}

.coin {
  width: 40px;
  height: 40px;
  background-image: url('../images/dot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  display: inline-block;
}

.ground {
  width: 40px;
  height: 40px;
  background-color: black;
  display: inline-block;
}

div[data-id="ghost"] {
  width: 40px;
  height: 40px;
  background-image: url('../images/ghost.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  display: inline-block;
}

.pacman {
  width: 40px;
  height: 40px;
  background-image: url('../images/pacman-open.png');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

div {
  line-height: 0px;
}
